<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>搜索</title>
    <link rel="shortcut icon" href="./assets/img/s.png" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/index.css" />
</head>

<body>
    <div v-cloak id="app" @click="handleClick">
        <img src="./assets/img/search.png" class="logo" alt="logo" />
        <div class="search-wrap">
            <figure class="title-img" @click.stop="handleClickIcon" v-if="cureentEngine">
                <img :src="'./assets/img/'+ cureentEngine.icon" alt="logo" />
            </figure>
            <input v-model="searchKey" @focus="handleInputFocus" @blur="handleInputBlur" placeholder="请输入..."
                class="input-item" />
            <ul class="engine-list-wrap" v-show="isShow">
                <li class="engine-item" v-for="(item,index) in engineLists" @click.stop="handleClickSearch(item)">
                    <img :src="'./assets/img/'+item.icon" alt="logo" />
                    <p>{{item.name}}</p>
                </li>
            </ul>
            <ul class="relevant-items" v-show="isShowHistory">
                <li v-for="(item,index) in relevantLists" @click.stop="handleSugClickSearch(item)"
                    :class="['relevant-item',cureentSugText===item?'item-bg':'']">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>
    <script src="./libs/rem.js"></script>
    <script src="./libs/jquery.min.js"></script>
    <script src="./libs/vue.min.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>