#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s linear;
}
.search-wrap {
  position: relative;
  width: 3.2rem;
  height: 0.5rem;
  border-radius: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #dfdfdf;
  background: #fff;
}
.title-img,
.input-item,
.engine-list-wrap {
  position: absolute;
}
.title-img {
  right: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.04rem 0;
  border-radius: 100%;
  overflow: hidden;
}
.title-img > img {
  width: 0.4rem;
  height: 0.4rem;
}
.input-item {
  width: 2.6rem;
  height: 0.5rem;
  text-indent: 0.12rem;
  font-size: 0.14rem;
}
.engine-list-wrap {
  display: flex;
  width: 3.2rem;
  top: 0.6rem;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
}
.engine-item {
  width: 0.6rem;
  height: auto;
  margin: 0 0.1rem 0.1rem 0.1rem;
}
.engine-item > img {
  width: 100%;
  height: 0.6rem;
  border-radius: 0.06rem;
}
.engine-item > p {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0.06rem 0;
  word-break: break-all;
  line-height: 160%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.logo {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 10vh auto 3.5vh auto;
}

.relevant-items {
  position: absolute;
  width: 3.16rem;
  height: auto;
  top: 0.6rem;
  overflow: auto;
  background: #fff;
  border-radius: 0.04rem;
}
.relevant-item {
  height: 0.34rem;
  font-size: 16px;
  text-align: left;
  text-indent: 0.12rem;
  line-height: 0.34rem;
  cursor: pointer;
}

.item-bg {
  background: #dfdfdf;
}
